body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  color: #464646;
}

a {
  color: #333;
  text-decoration: none;
}

.affix {
  top: 0;
  width: 100%;
}

.nowrap {
  white-space: nowrap;
  color: #da1313;
  font-size: 18px;
  font-weight: 700;
}

.padding-none-right {
  padding-right: 0;
}

.max-width {
  max-width: 100%;
}

#main-page header {
  width: 100%;
}

#main-page header .header-top {
  background: #f1f1f1;
  padding: 9px 0;
}

#main-page header .header-top .contact-top p {
  margin: 0;
}

#main-page header .header-top .user-acction {
  margin: 0;
  padding: 0;
}

#main-page header .header-top .user-acction li {
  list-style: none;
  display: inline-block;
}

#main-page header .header-top .user-acction li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 0 15px;
}

#main-page header .header-top .user-acction li a:hover {
  color: #000;
  transition: all 0.5s;
}

#main-page header .header-body {
  background-color: #fff;
  padding: 15px 0;
}

#main-page header .header-body .logo img {
  max-width: 100%;
}

#main-page header .header-body .contact-wrap {
  padding: 25px 0;
}

#main-page header .header-body .contact-wrap .contact-phone {
  margin-right: 15px;
}

#main-page header .header-body .contact-wrap .contact-phone .contact-icon {
  margin-right: 15px;
  width: 35px;
  height: 40px;
  display: inline-block;
  text-align: center;
  font-size: 35px;
  color: #009933;
  line-height: 45px;
}

#main-page header .header-body .contact-wrap .contact-phone .contact-icon i {
  font-size: 50px;
}

#main-page header .header-body .contact-wrap .contact-phone .contact-content {
  display: inline-block;
}

#main-page header .header-body .contact-wrap .contact-phone .contact-content .name {
  font-size: 15px;
  font-weight: 700;
  color: #242424;
  display: block;
}

#main-page header .header-body .contact-wrap .contact-phone .contact-content .desc {
  text-decoration: none;
  color: #da1313;
  font-weight: 700;
  font-size: 18px;
}

#main-page header .header-body .contact-wrap .contact-adress .contact-icon {
  margin-right: 15px;
  width: 35px;
  height: 40px;
  display: inline-block;
  text-align: center;
  font-size: 35px;
  color: #009933;
  line-height: 45px;
}

#main-page header .header-body .contact-wrap .contact-adress .contact-icon i {
  font-size: 50px;
}

#main-page header .header-body .contact-wrap .contact-adress .contact-content {
  display: inline-block;
}

#main-page header .header-body .contact-wrap .contact-adress .contact-content .name {
  font-size: 15px;
  font-weight: 700;
  color: #242424;
  display: block;
}

#main-page header .header-body .contact-wrap .contact-adress .contact-content .desc {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 18px;
}

#main-page header .header-body .form-header {
  padding: 25px 0;
}

#main-page header .header-body .form-header .form-control {
  border-radius: 0;
  border-color: #dedede;
  box-shadow: none;
  outline: none;
  padding: 20px 10px;
}

#main-page header .header-body .form-header .form-control:focus {
  border-right: none;
  border-color: #242424;
}

#main-page header .header-body .form-header .form-control::placeholder {
  font-style: italic;
  color: #9e9e9e;
}

#main-page header .header-body .form-header .input-group-btn button {
  padding: 10px 15px;
  border-radius: 0;
  background-color: #da1313;
  border-color: #da1313;
  color: #fff;
}

#main-page header #nav {
  width: 100%;
  float: left;
  background: #da1313;
  border: none;
  border-radius: 0;
  margin: 0;
  z-index: 99;
  left: 0;
  top: 0 !important;
  margin-bottom: 15px;
}

#main-page header #nav .nav-desktop {
  margin: 0;
  background-color: transparent;
  border: none;
}

#main-page header #nav .nav-desktop .navbar-nav li {
  position: relative;
}

#main-page header #nav .nav-desktop .navbar-nav li a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
}

#main-page header #nav .nav-desktop .navbar-nav li .sub-menu {
  visibility: hidden;
  position: absolute;
  top: 65px;
  left: 0;
  margin: 0;
  padding: 0;
  width: 200px;
  z-index: 99;
  background-color: #333;
  transition: all 0.2s;
}

#main-page header #nav .nav-desktop .navbar-nav li .sub-menu li {
  list-style: none;
  display: block;
  border-bottom: 1px solid #d4d4d4;
}

#main-page header #nav .nav-desktop .navbar-nav li .sub-menu li a {
  display: block;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: none;
  padding: 10px 10px;
}

#main-page header #nav .nav-desktop .navbar-nav li .sub-menu li a:hover {
  background-color: #232323;
}

#main-page header #nav .nav-desktop .navbar-nav li:hover .sub-menu {
  visibility: visible;
  transform: translateY(-15px);
  transition: all 0.5s;
}

#main-page header #nav .nav-mobile {
  margin: 0;
  border-color: transparent;
  background-color: transparent;
}

#main-page header #nav .nav-mobile .navbar-header {
  display: block;
}

#main-page header #nav .nav-mobile .navbar-header .navbar-btn {
  display: block;
  margin: 0;
  color: #fff;
  padding: 3px;
  font-size: 30px;
}

#main-page header #nav .nav-mobile .mobile-collapse .side-nav {
  margin: 0;
  padding: 0;
}

#main-page header #nav .nav-mobile .mobile-collapse .side-nav li {
  position: relative;
  list-style: none;
  display: block;
  width: 100%;
  background-color: transparent;
}

#main-page header #nav .nav-mobile .mobile-collapse .side-nav li a {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  color: #fff;
  font-size: 15px;
  padding: 10px 10px;
}

#main-page header #nav .nav-mobile .mobile-collapse .side-nav li .accordion {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: 13px;
  transition: 0.4s;
  display: inline-block;
  margin: 0;
  background-color: transparent;
  padding: 12px 10px;
}

#main-page header #nav .nav-mobile .mobile-collapse .side-nav li .accordion::after {
  content: '\002B';
  font-family: "FontAwesome" !important;
  color: #fff;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

#main-page header #nav .nav-mobile .mobile-collapse .side-nav li .accordion.active:after {
  content: "\2212";
  font-family: "FontAwesome" !important;
}

#main-page header #nav .nav-mobile .mobile-collapse .side-nav li .sub-menu {
  margin: 0;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#main-page header #nav .nav-mobile .mobile-collapse .side-nav li .sub-menu li {
  position: relative;
  padding-left: 20px;
  background-color: transparent;
}

#main-page header #nav .nav-mobile .mobile-collapse .side-nav li .sub-menu li a {
  display: block;
  text-transform: none;
  padding: 10px 0;
  border-bottom: solid 1px #fff;
}

#main-page header #nav .cart-wrap {
  position: relative;
  padding: 15px;
}

#main-page header #nav .cart-wrap .cart-icon {
  text-align: right;
  display: block;
}

#main-page header #nav .cart-wrap .cart-icon .cart-count {
  position: absolute;
  top: 8px;
  right: 10px;
  color: #fff;
}

#main-page header #nav .cart-wrap .cart-icon img {
  text-align: center;
  height: 20px;
}

#main-page header #nav .cart-wrap:hover #cart-box {
  visibility: visible;
  transition: all 0.3s;
}

#main-page header #nav .cart-wrap #cart-box {
  position: absolute;
  top: 50px;
  right: 0;
  width: 300px;
  background: #fff;
  padding: 0;
  text-align: left;
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.4);
  z-index: 999;
  visibility: hidden;
  transition: all 0.3s;
}

#main-page header #nav .cart-wrap #cart-box .box-head {
  color: #333;
  overflow: hidden;
  padding: 15px;
  text-align: left;
  font-size: 14px;
  background: #f5f5f5;
  text-transform: none;
  font-weight: 400;
  border-bottom: 1px #ddd solid;
}

#main-page header #nav .cart-wrap #cart-box .box-head i {
  color: #da5116;
}

#main-page header #nav .cart-wrap #cart-box .box-body .list-cart {
  margin: 0;
  padding: 8px 15px 0;
  max-height: 277px;
  overflow: auto;
}

#main-page header #nav .cart-wrap #cart-box .box-body .list-cart li {
  list-style: none;
  padding-bottom: 15px;
}

#main-page header #nav .cart-wrap #cart-box .box-body .list-cart .item-cart .product-thumb {
  float: left;
  margin-right: 5px;
}

#main-page header #nav .cart-wrap #cart-box .box-body .list-cart .item-cart .product-thumb img {
  max-width: 80px;
}

#main-page header #nav .cart-wrap #cart-box .box-body .list-cart .item-cart .product-desc {
  position: relative;
  margin-bottom: 10px;
  padding-right: 10px;
}

#main-page header #nav .cart-wrap #cart-box .box-body .list-cart .item-cart .product-desc .btn-delete {
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;
  color: #333;
}

#main-page header #nav .cart-wrap #cart-box .box-body .list-cart .item-cart .product-desc .btn-delete:hover {
  color: #da1313 !important;
}

#main-page header #nav .cart-wrap #cart-box .box-body .list-cart .item-cart .product-desc .product-name {
  text-decoration: none;
  color: #333;
}

#main-page header #nav .cart-wrap #cart-box .box-body .list-cart .item-cart .product-desc .product-name:hover {
  color: #da1313 !important;
}

#main-page header #nav .cart-wrap #cart-box .box-body .list-cart .item-cart .product-action {
  position: relative;
}

#main-page header #nav .cart-wrap #cart-box .box-body .list-cart .item-cart .product-action .product-price {
  font-size: 12px;
  display: inline-block;
  line-height: 22px;
  font-weight: 700;
}

#main-page header #nav .cart-wrap #cart-box .box-body .list-cart .item-cart .product-action .product-price span {
  color: red;
}

#main-page header #nav .cart-wrap #cart-box .box-body .list-cart .item-cart .product-action .product-price .cart-count {
  color: #333 !important;
}

#main-page header #nav .cart-wrap #cart-box .box-footer .total-price {
  color: #333;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 15px;
  padding-bottom: 0;
  text-align: center;
  text-transform: none;
  border-top: 1px solid #ddd;
}

#main-page header #nav .cart-wrap #cart-box .box-footer .total-price span {
  color: #da5116;
}

#main-page header #nav .cart-wrap #cart-box .box-footer .total-btn {
  padding: 15px;
}

#main-page header #nav .cart-wrap #cart-box .box-footer .total-btn button {
  width: 100%;
  background: #da1313;
  color: #fff;
  font-size: 14px;
  padding: 8px 16px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 5px;
}

#main-page .body-page .home-item .owl-carousel-1 {
  position: relative;
  margin-bottom: 20px;
}

#main-page .body-page .home-item .owl-carousel-1 .owl-stage-outer .owl-stage .owl-item .item a img {
  max-width: 100%;
}

#main-page .body-page .home-item .owl-carousel-1 .owl-nav {
  display: none;
}

#main-page .body-page .home-item .owl-carousel-1 .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#main-page .body-page .home-item .owl-carousel-1 .owl-dots span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

#main-page .body-page .home-item .owl-carousel-1 .owl-dots .active span {
  background-color: #fff;
}

#main-page .body-page .home-item .item-row {
  margin-bottom: 15px;
}

#main-page .body-page .home-item .item-row a img {
  width: 100%;
}

#main-page .body-page .home-item .item-wrap .category-box .category-title {
  margin-bottom: 5px;
  border-bottom: solid 1px #242424;
}

#main-page .body-page .home-item .item-wrap .category-box .category-title h2 {
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 40px;
  font-weight: 700;
  color: #242424;
  padding: 0 20px 0 0;
  margin: 0;
}

#main-page .body-page .home-item .item-wrap .category-box .category-title h2 a {
  color: #242424;
  text-decoration: none;
  transition: all 0.25;
}

#main-page .body-page .home-item .item-wrap .category-box .category-title h2 a:hover {
  color: #da1313;
  transition: all 0.25;
}

#main-page .body-page .home-item .item-wrap .category-box .category-title .view-more {
  line-height: 40px;
}

#main-page .body-page .home-item .item-wrap .category-box .category-title .view-more a {
  font-size: 15px;
  color: #464646;
  text-decoration: none;
}

#main-page .body-page .home-item .item-wrap .category-box .category-title .view-more a:hover {
  color: #242424;
}

#main-page .body-page .home-item .item-wrap .category-box .category-content .left-content .banner-top img {
  width: 100%;
}

#main-page .body-page .home-item .item-wrap .category-box .category-content .left-content .banner-bot img {
  float: left;
  width: 46%;
  max-height: 50px;
  margin: 2%;
  min-height: 50px;
}

#main-page .body-page .home-item .item-wrap .category-box .category-content .right-content .product-item .product-box {
  position: relative;
  padding-top: 15px;
  margin-bottom: 15px;
}

#main-page .body-page .home-item .item-wrap .category-box .category-content .right-content .product-item .product-box .product-thumb {
  height: 189px;
  width: auto;
}

#main-page .body-page .home-item .item-wrap .category-box .category-content .right-content .product-item .product-box .product-thumb img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

#main-page .body-page .home-item .item-wrap .category-box .category-content .right-content .product-item .product-box .product-thumb .sale {
  position: absolute;
  top: 15px;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #da1313;
  color: #fff;
  border-radius: 100%;
}

#main-page .body-page .home-item .item-wrap .category-box .category-content .right-content .product-item .product-box .product-name {
  width: 100%;
  text-align: center;
  height: 55px;
}

#main-page .body-page .home-item .item-wrap .category-box .category-content .right-content .product-item .product-box .product-name a {
  text-decoration: none;
  font-size: 14px;
  color: #464646;
}

#main-page .body-page .home-item .item-wrap .category-box .category-content .right-content .product-item .product-box .product-price {
  width: 100%;
  text-align: center;
}

#main-page .body-page .home-item .item-wrap .category-box .category-content .right-content .product-item .product-box .product-price .price-old {
  display: inline-block;
  font-size: 14px;
  color: #464646;
  text-decoration: line-through;
  margin-right: 10px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

#main-page .body-page .home-item .item-wrap .category-box .category-content .right-content .product-item .product-box .product-price .price-new {
  display: inline-block;
  font-size: 18px;
  color: #da1313;
  font-weight: 700;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

#main-page .body-page .home-item .item-wrap .category-box .category-content .right-content .product-item .product-box:hover {
  box-shadow: 0 0 2px rgba(87, 87, 87, 0.6);
}

#main-page .body-page .news-wrap .about-wrap .about-title {
  text-align: center;
  margin-bottom: 30px;
}

#main-page .body-page .news-wrap .about-wrap .about-title h1 {
  color: #da1313;
  font-size: 30px;
  font-weight: 800;
  margin: 10px 0;
}

#main-page .body-page .news-wrap .about-wrap .content .thumb {
  max-width: 220px;
  float: left;
}

#main-page .body-page .news-wrap .about-wrap .content .thumb img {
  width: 100%;
}

#main-page .body-page .news-wrap .about-wrap .content .content-text p {
  line-height: 22px;
  margin-bottom: 15px;
}

#main-page .body-page .news-wrap .blog-wrap {
  border-left: solid 1px #ccc;
}

#main-page .body-page .news-wrap .blog-wrap .blog-title {
  margin-bottom: 5px;
  border-bottom: solid 1px #242424;
}

#main-page .body-page .news-wrap .blog-wrap .blog-title h4 {
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 40px;
  font-weight: 600;
  color: #242424;
  padding: 0 20px 0 0;
  margin: 0;
}

#main-page .body-page .news-wrap .blog-wrap .blog-item {
  margin-bottom: 15px;
}

#main-page .body-page .news-wrap .blog-wrap .blog-item .blog-thumb {
  margin-bottom: 15px;
}

#main-page .body-page .news-wrap .blog-wrap .blog-item .blog-thumb a img {
  max-width: 100%;
}

#main-page .body-page .news-wrap .blog-wrap .blog-item .blog-content .blog-name {
  margin-top: 0;
  margin-bottom: 10;
}

#main-page .body-page .news-wrap .blog-wrap .blog-item .blog-content .blog-name a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: #464646;
}

#main-page .body-page .news-wrap .blog-wrap .blog-item .blog-content .blog-name a:hover {
  color: #000;
}

#main-page .body-page .news-wrap .blog-wrap .blog-item .blog-content .more-view {
  text-decoration: none;
  color: #494949;
}

#main-page .body-page .news-wrap .blog-wrap .blog-item .blog-content .more-view:hover {
  color: #000;
}

#main-page footer {
  background: #eee;
  margin-top: 15px;
}

#main-page footer .footer-body {
  padding: 15px;
}

#main-page footer .logo-bottom {
  margin-top: 50px;
}

#main-page footer .logo-bottom a img {
  max-width: 100%;
}

#main-page footer .title {
  text-transform: uppercase;
  font-size: 18px;
}

#main-page footer .content .nav-bot {
  margin: 0;
  padding: 0;
}

#main-page footer .content .nav-bot li {
  list-style: none;
}

#main-page footer .content .nav-bot li i {
  font-size: 10px;
  padding-right: 5px;
  line-height: 25px;
}

#main-page footer .content .nav-bot li a {
  text-decoration: none;
  font-size: 15px;
  color: #494949;
}

#main-page footer .content .nav-bot li a:hover {
  color: #000;
}

#main-page footer .content p i {
  width: 16px;
  text-align: center;
}

#main-page footer .content .btn-hostline {
  margin-top: 15px;
  padding: 6px 15px;
  background-color: #da1313;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
}

#main-page footer .footer-bot {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  border-bottom: 2px solid #da1313;
  background-color: #363636;
}

#main-page footer .footer-bot span {
  color: #a5a5a5;
}

#main-page footer .footer-bot span a {
  text-decoration: none;
  color: #fff;
}

/*cart*/
.cart-page {
  padding: 100px 0 60px;
}

.cart-page .head h1 {
  margin: 20px;
}

.cart-page .table-left {
  display: block;
  overflow-x: auto;
}

.cart-page .table-left thead tr th {
  background-color: #ddd;
  border-bottom: none;
}

.cart-page .table-left tbody td {
  vertical-align: middle;
}

.cart-page .table-left tbody td img {
  height: 32px;
  width: auto;
}

.cart-page .table-left tbody td button {
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
}

.cart-page .table-left tbody td button:hover {
  color: #da1313;
}

.cart-page .table-left tbody td a {
  color: #000;
}

.cart-page .table-left tbody td a:hover {
  color: #da1313;
}

.cart-page .table-left tbody td input {
  box-shadow: none;
  outline: none;
  width: 50px;
  text-align: center;
}

.cart-page .table-right thead tr th {
  background-color: #ddd;
  border-bottom: none;
}

.cart-page .table-right .submit {
  max-width: 120px;
  text-align: center;
  background-color: #da1313;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: none;
  padding: 5px 15px;
  color: white;
}

.payment-page .widget-payment .accordion {
  color: #da1313;
}

.payment-page .widget-payment .panel {
  border: none;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.payment-page .widget-payment .widget-content .wrap-login {
  border: solid 1px #ccc !important;
  border-radius: 7px;
  padding: 15px;
}

.payment-page .widget-payment .widget-content .wrap-login .table {
  margin-bottom: 0px;
}

.payment-page .widget-payment .widget-content .wrap-login .table tbody tr td {
  vertical-align: middle;
}

.payment-page .widget-payment .widget-content .wrap-login .table tbody tr td:first-child {
  width: 40%;
}

.payment-page .widget-payment .widget-content .wrap-login .table tbody tr td input {
  padding: 0 10px;
  width: 100%;
  outline: none;
  height: 40px;
}

.payment-page .widget-payment .widget-content .wrap-login .table tbody .check {
  display: inline-block;
  width: 20px;
  height: auto;
}

.payment-page .widget-payment .widget-content .wrap-login .table tbody .submit {
  max-width: 150px;
  height: 34px;
  background-color: white;
  color: #da1313;
  outline: none;
  border: solid 1px #da1313;
  transition: all 0.25s;
}

.payment-page .widget-payment .widget-content .wrap-login .table tbody .submit:hover {
  background-color: #da1313;
  color: white;
  transition: all 0.25s;
}

.payment-page .widget-payment .widget-content .wrap-login .table-coupon {
  width: 60%;
  margin: 0 auto;
}

.payment-page .widget-payment .widget-content .wrap-login .table-coupon td {
  border-color: transparent;
}

.payment-page .table-left td {
  vertical-align: middle;
}

.payment-page .table-left thead th {
  border-top: solid 3px #da1313 !important;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: normal;
  border-radius: 5px;
  background-color: #ddd;
  border-bottom: none;
  border-radius: 0;
}

.payment-page .table-left tbody td input {
  width: 100%;
  min-height: 34px;
  outline: none;
  box-shadow: none;
  padding: 0 10px;
}

.payment-page .table-left tbody td textarea {
  width: 100%;
  outline: none;
  box-shadow: none;
  padding: 10px;
}

.payment-page .table-right td {
  vertical-align: middle;
}

.payment-page .table-right thead th {
  border-top: solid 3px #da1313 !important;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: normal;
  background-color: #ddd;
  border-bottom: none;
  border-radius: 0;
}

.payment-page .table-right tbody td img {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.payment-page .table-right tbody td input {
  width: 100%;
  min-height: 34px;
  outline: none;
  box-shadow: none;
  padding: 0 10px;
}

.payment-page .table-right tbody td textarea {
  width: 100%;
}

.payment-page .table-right tbody td .submit {
  background-color: white;
  color: #da1313;
  outline: none;
  height: 34px;
  min-width: 200px;
  border: solid 1px #da1313;
  transition: all 0.25s;
}

.payment-page .table-right tbody td .submit:hover {
  background-color: #da1313;
  color: white;
  transition: all 0.25s;
}

.orders-page {
  padding: 80px 0 60px;
}

.orders-page .head {
  margin-bottom: 20px;
}

.orders-page .head h1 {
  margin-bottom: 15px;
}

.orders-page .head p {
  font-size: 17px;
}

.orders-page .table-head tbody tr:last-child td {
  color: #da1313;
}

.orders-page .table-head tbody tr td {
  text-align: center;
  border-right: dashed 1px #ccc;
  padding: 0 5px;
  border-top: none;
}

.orders-page .table-head tbody tr td:last-child {
  border-right: none;
}

.orders-page .table-body thead tr th {
  background-color: #ddd;
  border-bottom: none;
}

.orders-page .table-body tbody tr td:last-child {
  color: #da1313;
}

.element-page .lien-he {
  padding: 15px 0;
}

.element-page .lien-he a {
  text-decoration: none;
}

.element-page .lien-he .send-contact {
  margin-bottom: 20px;
  overflow: hidden;
}

.element-page .lien-he .send-contact h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #242424;
}

.element-page .lien-he .send-contact .form-group label {
  font-family: 'Open Sans Condensed', sans-serif;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #555;
  margin-bottom: 10px;
  cursor: pointer;
}

.element-page .lien-he .send-contact .form-group .form-control {
  display: block;
  width: 100%;
  padding: 8px 14px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #DDD;
  border-radius: 0;
  outline: none;
  box-shadow: none;
}

.element-page .lien-he .send-contact .form-group .form-control:focus {
  border-color: #ababab;
}

.element-page .lien-he .send-contact .form-group .btn-submit {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #da1313;
  padding: 8px 15px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

.element-page .lien-he .contact h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #242424;
}

.element-page .lien-he .contact p {
  font-size: 13px;
  margin: 0;
}

.element-page .lien-he .contact p strong {
  font-family: 'Open Sans Condensed', sans-serif;
}

.element-page .lien-he .contact p a {
  color: #da1313;
}

.element-page .lien-he .contact p span {
  display: block;
}

.element-page .lien-he .contact .head {
  margin-bottom: 15px;
}

.element-page .lien-he .maps {
  width: 100%;
  margin-bottom: 20px;
}

.element-page .lien-he .maps iframe {
  width: 100%;
  min-height: 350px;
}

.error-page {
  background: #da1313;
  text-align: center;
  padding: 60px 0;
  margin-top: 60px;
}

.error-page h2 {
  font-style: normal;
  line-height: 1.4;
  margin-bottom: 15px;
  margin-top: 15px;
  text-rendering: optimizeLegibility;
  font-weight: 500;
  font-size: 40px;
  color: #fff;
}

.error-page a {
  color: #fff;
  border: 2px solid #fff;
  padding: 12px 32px;
  margin: 10px 5px;
  height: auto;
  min-height: 36px;
  line-height: 36px;
  font-size: 24px;
  display: inline-block;
}

.body-page .left-content .side-category {
  margin-bottom: 15px;
}

.body-page .left-content .side-category .side-title {
  color: #fff;
  background-color: #da1313;
  text-transform: uppercase;
  text-align: center;
  border: none;
  padding: 15px 15px;
}

.body-page .left-content .side-category .side-title h4 {
  display: block;
  margin: 0;
}

.body-page .left-content .side-category .side-title h4 i {
  margin-right: 5px;
}

.body-page .left-content .side-category .side-content {
  margin: 0;
  padding: 0;
  border: 1px solid #d1d1d1;
}

.body-page .left-content .side-category .side-content li {
  list-style: none;
}

.body-page .left-content .side-category .side-content li a {
  text-decoration: none;
  text-transform: none;
  border-bottom: 1px solid #d1d1d1;
  font-size: 15px;
  color: #252222;
  line-height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  padding-left: 15px;
}

.body-page .left-content .side-category .side-content li:hover a {
  background-color: #009933;
  color: #fff;
  transition: all 0.3s;
}

.body-page .left-content .side-category .side-content li:last-child a {
  border-bottom: none;
}

.body-page .left-content .statistic-box {
  margin-bottom: 20px;
  border: solid 1px #dedede;
}

.body-page .left-content .statistic-box .statistic-title {
  border-bottom: 1px solid #da1313;
  color: inherit;
  text-transform: uppercase;
  margin: 5px;
}

.body-page .left-content .statistic-box .statistic-title span {
  border-bottom: 3px solid #da1313;
  display: inline-block;
  margin-bottom: -2px;
}

.body-page .left-content .statistic-box .statistic-content {
  padding: 0 5px;
}

.body-page .left-content .statistic-box .statistic-content table {
  color: #252222;
  font-size: 14px;
}

.body-page .left-content .statistic-box .statistic-content table tr td:last-child {
  padding-left: 10px;
  font-weight: 600;
}

.body-page .left-content .search-price {
  margin-bottom: 20px;
  padding: 5px;
  border: solid 1px #dedede;
}

.body-page .left-content .search-price .title {
  margin-bottom: 15px;
  border-bottom: 1px solid #da1313;
  color: inherit;
  text-transform: uppercase;
}

.body-page .left-content .search-price .title span {
  border-bottom: 3px solid #da1313;
  display: inline-block;
  margin-bottom: -2px;
}

.body-page .left-content .search-price form .form-group {
  text-align: center;
  width: 100%;
  margin: 5px 0;
}

.body-page .left-content .search-price form .form-group label {
  text-align: left;
  line-height: 35px;
}

.body-page .left-content .search-price form .form-group .form-control {
  display: block;
  float: right;
  max-width: 80%;
  outline: none;
  box-shadow: none;
}

.body-page .left-content .search-price form .form-group .form-control:focus {
  border-color: #da1313;
}

.body-page .left-content .search-price form .form-group .btn-submit {
  outline: none;
  box-shadow: none;
  padding: 5px 20px;
  color: white;
  background-color: #da1313;
}

.body-page .right-content .breadcrumb-wrap .breadcrumb {
  background-color: transparent;
  width: 100%;
  float: left;
  margin-top: 20px;
  border-bottom: 1px solid #cbcbcb;
  border-radius: 0;
  padding: 0;
}

.body-page .right-content .breadcrumb-wrap .breadcrumb li {
  font-size: 14px;
  padding: 5px 0;
}

.body-page .right-content .breadcrumb-wrap .breadcrumb li a {
  text-decoration: none;
  color: #494949;
}

.body-page .right-content .breadcrumb-wrap .breadcrumb li strong {
  color: #000;
  font-size: 15px;
}

.body-page .right-content .list-product .product-item .product-box {
  position: relative;
  padding-top: 15px;
  margin-bottom: 15px;
}

.body-page .right-content .list-product .product-item .product-box .product-thumb img {
  width: 100%;
}

.body-page .right-content .list-product .product-item .product-box .product-thumb .sale {
  position: absolute;
  top: 15px;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #da1313;
  color: #fff;
  border-radius: 100%;
}

.body-page .right-content .list-product .product-item .product-box .product-name {
  width: 100%;
  text-align: center;
  height: 55px;
}

.body-page .right-content .list-product .product-item .product-box .product-name a {
  text-decoration: none;
  font-size: 14px;
  color: #464646;
}

.body-page .right-content .list-product .product-item .product-box .product-price {
  width: 100%;
  text-align: center;
}

.body-page .right-content .list-product .product-item .product-box .product-price .price-old {
  display: inline-block;
  font-size: 14px;
  color: #464646;
  text-decoration: line-through;
  margin-right: 10px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.body-page .right-content .list-product .product-item .product-box .product-price .price-new {
  display: inline-block;
  font-size: 18px;
  color: #da1313;
  font-weight: 700;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.body-page .right-content .list-product .product-item .product-box:hover {
  box-shadow: 0 0 2px rgba(87, 87, 87, 0.6);
}

.body-page .right-content .pagination-wrap {
  text-align: center;
}

.body-page .right-content .pagination-wrap .pagination {
  display: inline-flex;
}

.body-page .right-content .pagination-wrap .pagination li {
  margin-right: 5px;
}

.body-page .right-content .pagination-wrap .pagination li a {
  color: #252222;
}

.body-page .right-content .pagination-wrap .pagination li a:hover {
  background-color: #da1313;
  border-color: #da1313;
  color: white;
}

.body-page .right-content .pagination-wrap .pagination li .active {
  background-color: #da1313;
  border-color: #da1313;
  color: white;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  font-family: 'FontAwesome';
  content: "\f101";
}

.body-page .left-content .delivery-wrap {
  margin-bottom: 15px;
  border: 1px solid #d1d1d1;
}

.body-page .left-content .delivery-wrap .delivery-title {
  color: #fff;
  background-color: #da1313;
  text-transform: uppercase;
  text-align: center;
  border: none;
  padding: 15px 15px;
}

.body-page .left-content .delivery-wrap .delivery-title h4 {
  display: block;
  margin: 0;
}

.body-page .left-content .delivery-wrap .delivery-title h4 i {
  margin-right: 5px;
}

.body-page .left-content .delivery-wrap .delivery-content {
  padding: 10px;
}

.body-page .left-content .delivery-wrap .delivery-content .delivery-item .deli-icon {
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
}

.body-page .left-content .delivery-wrap .delivery-content .delivery-item span {
  font-size: 15px;
  color: #494949;
}

.body-page .left-content .side-category {
  margin-bottom: 15px;
}

.body-page .left-content .side-category .side-title {
  color: #fff;
  background-color: #da1313;
  text-transform: uppercase;
  text-align: center;
  border: none;
  padding: 15px 15px;
}

.body-page .left-content .side-category .side-title h4 {
  display: block;
  margin: 0;
}

.body-page .left-content .side-category .side-title h4 i {
  margin-right: 5px;
}

.body-page .left-content .side-category .side-content {
  margin: 0;
  padding: 0;
  border: 1px solid #d1d1d1;
}

.body-page .left-content .side-category .side-content li {
  position: relative;
  list-style: none;
  display: block;
  width: 100%;
  background-color: transparent;
}

.body-page .left-content .side-category .side-content li a {
  text-decoration: none;
  text-transform: none;
  border-bottom: 1px solid #d1d1d1;
  font-size: 15px;
  color: #252222;
  line-height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  padding-left: 15px;
}

.body-page .left-content .side-category .side-content li .accordion {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: 13px;
  transition: 0.4s;
  display: inline-block;
  margin: 0;
  background-color: transparent;
  padding: 16px 10px;
}

.body-page .left-content .side-category .side-content li .accordion::after {
  content: '\002B';
  font-family: "FontAwesome" !important;
  color: #494949;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.body-page .left-content .side-category .side-content li:hover a {
  background-color: #009933;
  color: #fff;
  transition: all 0.3s;
}

.body-page .left-content .side-category .side-content li:hover .accordion::after {
  color: #fff;
}

.body-page .left-content .side-category .side-content li:last-child a {
  border-bottom: none;
}

.body-page .left-content .side-category .side-content li .accordion.active:after {
  content: "\2212";
  font-family: "FontAwesome" !important;
}

.body-page .left-content .side-category .side-content li .sub-menu {
  margin: 0;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.body-page .left-content .side-category .side-content li .sub-menu li {
  position: relative;
  background-color: #fff;
}

.body-page .left-content .side-category .side-content li .sub-menu li a {
  text-decoration: none;
  text-transform: none;
  border-bottom: 1px solid #d1d1d1;
  font-size: 15px;
  color: #252222;
  background-color: #fff;
  line-height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  padding-left: 15px;
}

.body-page .left-content .side-category .side-content li .sub-menu li:hover a {
  background-color: #009933;
  color: #fff;
  transition: all 0.3s;
}

.body-page .left-content .statistic-box {
  border: solid 1px #dedede;
}

.body-page .left-content .statistic-box .statistic-title {
  border-bottom: 1px solid #da1313;
  color: inherit;
  text-transform: uppercase;
  margin: 5px;
}

.body-page .left-content .statistic-box .statistic-title span {
  border-bottom: 3px solid #da1313;
  display: inline-block;
  margin-bottom: -2px;
}

.body-page .left-content .statistic-box .statistic-content {
  padding: 0 5px;
}

.body-page .left-content .statistic-box .statistic-content table {
  color: #252222;
  font-size: 14px;
}

.body-page .left-content .statistic-box .statistic-content table tr td:last-child {
  padding-left: 10px;
  font-weight: 600;
}

.body-page .right-content .breadcrumb-wrap .breadcrumb {
  background-color: transparent;
  width: 100%;
  float: left;
  margin-top: 20px;
  border-bottom: 1px solid #cbcbcb;
  border-radius: 0;
  padding: 0;
}

.body-page .right-content .breadcrumb-wrap .breadcrumb li {
  font-size: 14px;
  padding: 5px 0;
}

.body-page .right-content .breadcrumb-wrap .breadcrumb li a {
  text-decoration: none;
  color: #494949;
}

.body-page .right-content .breadcrumb-wrap .breadcrumb li strong {
  color: #000;
  font-size: 15px;
}

.body-page .right-content .detail-content {
  margin-bottom: 30px;
}

.body-page .right-content .detail-content .carousel-detail .carousel .carousel-inner .item {
  text-align: center;
}

.body-page .right-content .detail-content .carousel-detail .carousel .carousel-inner .item img {
  text-align: center;
  max-width: 100%;
  max-height: 100%;
}

.body-page .right-content .detail-content .carousel-detail .carousel .carousel-control {
  background-image: none;
  text-shadow: none;
}

.body-page .right-content .detail-content .carousel-detail .carousel .carousel-control:hover {
  background-color: #da1313;
  color: #fff;
  transition: all 0.3s;
}

.body-page .right-content .detail-content .carousel-detail .carousel a.left {
  top: 40%;
  left: 0;
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 25px;
  line-height: 35px;
  color: #494949;
}

.body-page .right-content .detail-content .carousel-detail .carousel a.right {
  top: 40%;
  right: 0;
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 25px;
  line-height: 35px;
  color: #494949;
}

.body-page .right-content .detail-content .carousel-detail .carousel .owl-carousel-detail-1 {
  position: relative;
  margin-top: 10px;
}

.body-page .right-content .detail-content .carousel-detail .carousel .owl-carousel-detail-1 .item {
  cursor: pointer;
}

.body-page .right-content .detail-content .carousel-detail .carousel .owl-carousel-detail-1 .owl-stage-outer .owl-stage .owl-item {
  max-width: 59px;
  cursor: pointer;
  border: solid 1px #dedede;
}

.body-page .right-content .detail-content .carousel-detail .carousel .owl-carousel-detail-1 .owl-dots {
  display: none;
}

.body-page .right-content .detail-content .carousel-detail .carousel .owl-carousel-detail-1 .owl-nav .owl-prev {
  position: absolute;
  left: 0;
  top: 22px;
  float: left;
  background-color: #ea4242;
  border-color: #ea4242;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 0;
  line-height: 24px;
  color: #fff;
}

.body-page .right-content .detail-content .carousel-detail .carousel .owl-carousel-detail-1 .owl-nav .owl-next {
  float: right;
  position: absolute;
  right: 0;
  top: 22px;
  background-color: #ea4242;
  border-color: #ea4242;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 0;
  line-height: 24px;
  color: #fff;
}

.body-page .right-content .detail-content .product-detail .detail-name {
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 24px;
}

.body-page .right-content .detail-content .product-detail .detail-price {
  font-size: 30px;
  color: #da1313;
}

.body-page .right-content .detail-content .product-detail .detail-quantity {
  margin: 30px 0;
}

.body-page .right-content .detail-content .product-detail .detail-quantity label {
  display: inline-block;
  font-size: 17px;
  font-weight: 500;
  margin-right: 10px;
}

.body-page .right-content .detail-content .product-detail .detail-quantity .quantity-box {
  display: inline-block;
  position: relative;
}

.body-page .right-content .detail-content .product-detail .detail-quantity .quantity-box .form-control {
  display: inline-block;
  border-radius: 0;
  border-color: #dedede;
  outline: none;
  box-shadow: none;
  height: 40px;
}

.body-page .right-content .detail-content .product-detail .detail-quantity .quantity-box .group-btn {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}

.body-page .right-content .detail-content .product-detail .detail-quantity .quantity-box .group-btn .btn-quantity {
  text-decoration: none;
  display: block;
  color: #494949;
  background-color: transparent;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.body-page .right-content .detail-content .product-detail .fil_color {
  margin: 35px 0;
  padding: 0;
}

.body-page .right-content .detail-content .product-detail .fil_color li {
  font-size: 13px;
  padding: 5px;
  display: inline-block;
}

.body-page .right-content .detail-content .product-detail .fil_color li label {
  border: 1px solid #eaeaea;
  width: 25px;
  height: 25px;
  padding-top: 6px;
  padding-left: 6px;
  margin: 0;
  cursor: pointer;
}

.body-page .right-content .detail-content .product-detail .fil_color li label span {
  border: transparent !important;
}

.body-page .right-content .detail-content .product-detail .fil_color li label:hover {
  background-image: url("../images/bg_chonsen.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  border: solid 1px #ff0000;
}

.body-page .right-content .detail-content .product-detail .fil_color li input {
  display: none;
}

.body-page .right-content .detail-content .product-detail .fil_color li input:checked + label {
  background-image: url("../images/bg_chonsen.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  border: solid 1px #ff0000;
}

.body-page .right-content .detail-content .product-detail .detail-group-btn .btn-hotline {
  font-size: 20px;
  margin: 10px 0;
  padding: 12px 18px;
  border: dashed 2px #da1313;
  display: inline-block;
  margin-right: 10px;
}

.body-page .right-content .detail-content .product-detail .detail-group-btn .btn-hotline a {
  text-decoration: none;
  color: #494949;
}

.body-page .right-content .detail-content .product-detail .detail-group-btn .btn-hotline a:hover {
  color: #000;
}

.body-page .right-content .detail-content .product-detail .detail-group-btn .btn-buy {
  font-size: 20px;
  margin: 10px 0;
  padding: 12px 40px;
  background-color: #009933;
  border: 2px solid #009933;
  display: inline-block;
  margin-right: 10px;
}

.body-page .right-content .detail-content .product-detail .detail-group-btn .btn-buy a {
  text-decoration: none;
  color: #fff;
}

.body-page .right-content .detail-content .product-detail .detail-group-btn .btn-buy i {
  margin-right: 10px;
}

.body-page .right-content .detail-desc .nav-tabs li a {
  padding-left: 0;
  font-size: 20px;
  border: none;
  margin: 0;
  border-radius: 0;
}

.body-page .right-content .detail-desc .nav-tabs li.active a {
  border: none;
  color: #da1313;
  background: transparent;
  border-bottom: 2px solid #da1313;
}

.body-page .right-content .detail-desc .tab-content .tab-pane {
  padding: 20px 0;
}

.body-page .right-content .detail-desc .tab-content .tab-pane p img {
  max-width: 100%;
}

.body-page .more-product .home-item .item-wrap .category-box .category-title {
  margin-bottom: 5px;
  border-bottom: solid 1px #242424;
}

.body-page .more-product .home-item .item-wrap .category-box .category-title h2 {
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 40px;
  font-weight: 700;
  color: #242424;
  padding: 0 20px 0 0;
  margin: 0;
}

.body-page .more-product .home-item .item-wrap .category-box .category-title h2 a {
  text-decoration: none;
  color: #242424;
}

.body-page .more-product .home-item .item-wrap .category-box .category-title .view-more {
  line-height: 40px;
}

.body-page .more-product .home-item .item-wrap .category-box .category-title .view-more a {
  font-size: 15px;
  color: #464646;
  text-decoration: none;
}

.body-page .more-product .home-item .item-wrap .category-box .category-title .view-more a:hover {
  color: #242424;
}

.body-page .more-product .home-item .item-wrap .category-box .category-content .left-content .banner-top img {
  width: 100%;
}

.body-page .more-product .home-item .item-wrap .category-box .category-content .left-content .banner-bot img {
  float: left;
  width: 46%;
  max-height: 50px;
  margin: 2%;
  min-height: 50px;
}

.body-page .more-product .home-item .item-wrap .category-box .category-content .right-content .product-item .product-box {
  position: relative;
  padding-top: 15px;
  margin-bottom: 15px;
}

.body-page .more-product .home-item .item-wrap .category-box .category-content .right-content .product-item .product-box .product-thumb img {
  width: 100%;
}

.body-page .more-product .home-item .item-wrap .category-box .category-content .right-content .product-item .product-box .product-thumb .sale {
  position: absolute;
  top: 15px;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #da1313;
  color: #fff;
  border-radius: 100%;
}

.body-page .more-product .home-item .item-wrap .category-box .category-content .right-content .product-item .product-box .product-name {
  width: 100%;
  text-align: center;
  height: 55px;
}

.body-page .more-product .home-item .item-wrap .category-box .category-content .right-content .product-item .product-box .product-name a {
  text-decoration: none;
  font-size: 14px;
  color: #464646;
}

.body-page .more-product .home-item .item-wrap .category-box .category-content .right-content .product-item .product-box .product-price {
  width: 100%;
  text-align: center;
}

.body-page .more-product .home-item .item-wrap .category-box .category-content .right-content .product-item .product-box .product-price .price-old {
  display: inline-block;
  font-size: 14px;
  color: #464646;
  text-decoration: line-through;
  margin-right: 10px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.body-page .more-product .home-item .item-wrap .category-box .category-content .right-content .product-item .product-box .product-price .price-new {
  display: inline-block;
  font-size: 18px;
  color: #da1313;
  font-weight: 700;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.body-page .more-product .home-item .item-wrap .category-box .category-content .right-content .product-item .product-box:hover {
  box-shadow: 0 0 2px rgba(87, 87, 87, 0.6);
}

.body-page .right-content .breadcrumb-wrap .breadcrumb {
  background-color: transparent;
  width: 100%;
  float: left;
  margin-top: 20px;
  border-bottom: 1px solid #cbcbcb;
  border-radius: 0;
  padding: 0;
}

.body-page .right-content .breadcrumb-wrap .breadcrumb li {
  font-size: 14px;
  padding: 5px 0;
}

.body-page .right-content .breadcrumb-wrap .breadcrumb li a {
  text-decoration: none;
  color: #494949;
}

.body-page .right-content .breadcrumb-wrap .breadcrumb li strong {
  color: #000;
  font-size: 15px;
}

.body-page .right-content .news-content .news-item {
  margin-bottom: 50px;
}

.body-page .right-content .news-content .news-item .news-thumb a img {
  width: 100%;
}

.body-page .right-content .news-content .news-item .news-sumary .name {
  color: #494949;
}

.body-page .right-content .news-content .news-item .news-sumary .name a {
  text-decoration: none;
  color: #494949;
  font-weight: 500;
}

.body-page .right-content .news-content .news-item .news-sumary .infor {
  font-size: 15px;
  font-style: italic;
  margin-bottom: 20px;
}

.body-page .right-content .news-content .news-item .news-sumary .infor a {
  text-decoration: none;
  color: #494949;
}

.body-page .right-content .news-content .news-item .news-sumary .desc {
  line-height: 25px;
  margin-bottom: 20px;
}

.body-page .right-content .news-content .news-item .news-sumary .btn-view {
  display: inline-block;
  text-decoration: none;
  color: #ccc;
  margin-top: 20px;
  border: 1px solid #ccc;
  font-size: 15px;
  padding: 10px;
  font-style: italic;
  font-weight: 400;
  transition: all 0.5s;
}

.body-page .right-content .news-content .news-item .news-sumary .btn-view i {
  margin-left: 5px;
}

.body-page .right-content .news-content .news-item .news-sumary .btn-view:hover {
  color: #494949;
  border-color: #494949;
  transition: all 0.5s;
}

.body-page .right-content .news-content .mega-news .mega-name {
  font-size: 24px;
  color: #494949;
}

.body-page .right-content .news-content .mega-news .mega-infor {
  font-size: 15px;
  color: #494949;
  font-style: italic;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.body-page .right-content .news-content .mega-news .mega-infor a {
  color: #494949;
  text-decoration: none;
}

.body-page .right-content .news-content .mega-news .content p {
  font-size: 14px;
  color: #494949;
  line-height: 20px;
}

.body-page .right-content .news-content .mega-news .content p img {
  max-width: 100%;
}

.body-page .left-content .feature-blog {
  margin-bottom: 30px;
}

.body-page .left-content .feature-blog .title {
  font-size: 18px;
  color: #494949;
}

.body-page .left-content .feature-blog .content .blog-item {
  margin-bottom: 15px;
}

.body-page .left-content .feature-blog .content .blog-item .icon-blog {
  float: left;
  color: #ccc;
  font-size: 11px;
  vertical-align: middle;
  margin-right: 10px;
  padding-top: 10px;
}

.body-page .left-content .feature-blog .content .blog-item .blog-content {
  overflow: hidden;
}

.body-page .left-content .feature-blog .content .blog-item .blog-content a {
  text-decoration: none;
  display: block;
  color: #494949;
  font-size: 15px;
  line-height: 20px;
}

.body-page .left-content .feature-blog .content .blog-item .blog-content span {
  font-size: 13px;
  color: #ccc;
  font-style: italic;
  line-height: 20px;
}

.body-page .left-content .feature-product {
  margin-bottom: 30px;
}

.body-page .left-content .feature-product .title {
  font-size: 18px;
  color: #494949;
  padding-bottom: 10px;
  border-bottom: solid 1px #dedede;
}

.body-page .left-content .feature-product .content .product-item {
  margin-bottom: 15px;
  border-bottom: solid 1px #dedede;
}

.body-page .left-content .feature-product .content .product-item .product-thumb a img {
  max-width: 100%;
}

.body-page .left-content .feature-product .content .product-item .product-content {
  overflow: hidden;
}

.body-page .left-content .feature-product .content .product-item .product-content .name {
  text-decoration: none;
  display: block;
  color: #494949;
  font-size: 15px;
  line-height: 20px;
}

.body-page .left-content .feature-product .content .product-item .product-content .price {
  font-size: 17px;
  color: #da1313;
  font-weight: 600;
  line-height: 20px;
}

.callout {
  width: 500px;
  max-width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
  -webkit-animation-name: example;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 10s;
  /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-direction: alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0% {
    right: 0px;
    bottom: 0px;
  }
  25% {
    right: 0;
    bottom: 5%;
  }
  50% {
    right: 0;
    bottom: 10%;
  }
  75% {
    right: 0px;
    bottom: 15%;
  }
  100% {
    right: 0px;
    bottom: 20%;
  }
}

/* Standard syntax */
@keyframes example {
  0% {
    right: 0px;
    bottom: 0px;
    opacity: 1;
    display: none;
  }
  5% {
    right: 0px;
    bottom: 0px;
    opacity: 1;
    display: block;
  }
  25% {
    right: 0;
    bottom: 0;
    opacity: 1;
  }
  50% {
    right: 0;
    bottom: 0;
    opacity: 1;
  }
  75% {
    right: 0px;
    bottom: 50%;
    opacity: 0;
  }
  100% {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  #main-page header .header-body .contact-wrap .contact-phone {
    margin-right: 10px;
  }
  #main-page header .header-body .contact-wrap .contact-phone .contact-icon {
    margin-right: 10px;
  }
  #main-page header .header-body .contact-wrap .contact-adress .contact-icon {
    margin-right: 10px;
  }
  #main-page header #nav .nav-desktop .navbar-nav li a {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 991px) {
  #main-page footer .logo-bottom {
    margin-bottom: 30px;
  }
  .padding-none-right {
    padding-right: 15px;
  }
  #main-page .body-page .news-wrap .blog-wrap {
    border: none;
  }
}

@media screen and (max-width: 768px) {
  .fix-center {
    text-align: center;
  }
  #main-page header .header-body .logo {
    text-align: center;
  }
  #main-page .body-page .home-item .item-wrap .category-box .category-content .right-content .product-item {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  #main-page .body-page .home-item .item-wrap .category-box .category-content .right-content .product-item {
    width: 100%;
  }
  #main-page footer .footer-bot {
    padding: 10px 0;
  }
  #main-page footer .footer-bot span {
    font-size: 11px;
  }
}

@media (max-width: 400px) {
  #body-category .right-content .list-product .product-item .product-box .product-name {
    height: 70px;
  }
}
/*# sourceMappingURL=style.css.map */