#top .navbar {
	margin-bottom: 0;
	background: #DD962C;
}

#left {
	background-color: #575757;
}

.skin_txt {color: #ff8800;}

.btn-default {
	color: #fff;
	background-color: #DD962C;

}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
	color: #fff;
	background-color: #de995c;

}
#top .nav > li:hover, #top .nav > li.active
{
	background-color: #de995c;
}