#top .navbar {
	margin-bottom: 0;
	background: #E56060;
}

#left {
	background-color: #575757;
}

.skin_txt {color: #cc0000;}

.btn-default {
	color: #fff;
	background-color: #E56060;

}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
	color: #fff;
	background-color: #ca0002;
;
}
#top .nav > li:hover, #top .nav > li.active
{
	background-color: #ca0002;
}

