/*.respontables {
  margin: 1em 0;
  width: 100%;
  overflow-x: auto;
  background: #FFF;
  color: #024457;
  border: 1px solid #167F92;
}
.respontables tr {
  border: 1px solid #D9E4E6;
}
.respontables tr:nth-child(odd) {
  background-color: #EAF3F3;
}
.respontables th {
  border: 1px solid #FFF;
  background-color: #167F92;
  color: #FFF;
  padding: 1em;
}
.respontables th:first-child {
  display: table-cell;
  text-align: center;
}
.respontables th:nth-child(2) {
  display: table-cell;
}
.respontables th:nth-child(2) span {
  display: none;
}
.respontables th:nth-child(2):after {
  content: attr(data-th);
}
@media (min-width: 480px) {
  .respontables th:nth-child(2) span {
    display: block;
  }
  .respontables th:nth-child(2):after {
    display: none;
  }
}*/

.respontables {
  margin: 1em 0;
  width: 100%;
  background: #FFF;
  color: #024457;
  border: 1px solid #167F92;
}
.respontables tr {
  border: 1px solid #D9E4E6;
}
.respontables tr:nth-child(odd) {
  background-color: #EAF3F3;
}
.respontables th {
  display: none;
  border: 1px solid #FFF;
  background-color: #167F92;
  color: #FFF;
  padding: 1em;
}
.respontables th:first-child {
  display: table-cell;
  text-align: center;
}
.respontables th:nth-child(2) {
  display: table-cell;
}
.respontables th:nth-child(2) span {
  display: none;
}
.respontables th:nth-child(2):after {
  content: attr(data-th);
}
@media (min-width: 480px) {
  .respontables th:nth-child(2) span {
    display: block;
  }
  .respontables th:nth-child(2):after {
    display: none;
  }
}
.respontables td {
  display: block;
  word-wrap: break-word;
  max-width: 7em;
}
.respontables td:first-child {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #D9E4E6;
}
@media (min-width: 480px) {
  .respontables td {
    border: 1px solid #D9E4E6;
  }
}
.respontables th, .respontables td {
  text-align: left;
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .respontables th, .respontables td {
    display: table-cell;
    padding: 1em;
  }
}