body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    color: #464646;
}

a {
    color: #333;
    text-decoration: none;
}

.affix {
    top: 0;
    width: 100%;
}

.padding-none-right {
    padding-right: 0;
}

.max-width {
    max-width: 100%;
}

#main-page {
    header {
        width: 100%;
        .header-top {
            background: #f1f1f1;
            padding: 9px 0;
            .contact-top {
                p {
                    margin: 0;
                }
            }
            .user-acction {
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    display: inline-block;
                    a {
                        text-decoration: none;
                        color: #333;
                        display: block;
                        padding: 0 15px;
                        &:hover {
                            color: #000;
                            transition: all 0.5s;
                        }
                    }
                }
            }
        }
        .header-body {
            background-color: #fff;
            padding: 15px 0;
            .logo {
                img {
                    max-width: 100%;
                }
            }
            .contact-wrap {
                padding: 25px 0;
                .contact-phone {
                    margin-right: 15px;
                    .contact-icon {
                        margin-right: 15px;
                        width: 35px;
                        height: 40px;
                        display: inline-block;
                        text-align: center;
                        font-size: 35px;
                        color: #009933;
                        line-height: 45px;
                        i {
                            font-size: 50px;
                        }
                    }
                    .contact-content {
                        display: inline-block;
                        .name {
                            font-size: 15px;
                            font-weight: 700;
                            color: #242424;
                            display: block;
                        }
                        .desc {
                            text-decoration: none;
                            color: #da1313;
                            font-weight: 700;
                            font-size: 18px;
                        }
                    }
                }
                .contact-adress {
                    .contact-icon {
                        margin-right: 15px;
                        width: 35px;
                        height: 40px;
                        display: inline-block;
                        text-align: center;
                        font-size: 35px;
                        color: #009933;
                        line-height: 45px;
                        i {
                            font-size: 50px;
                        }
                    }
                    .contact-content {
                        display: inline-block;
                        .name {
                            font-size: 15px;
                            font-weight: 700;
                            color: #242424;
                            display: block;
                        }
                        .desc {
                            text-decoration: none;
                            color: #000;
                            font-weight: 700;
                            font-size: 18px;
                        }
                    }
                }
            }
            .form-header {
                padding: 25px 0;
                .form-control {
                    border-radius: 0;
                    border-color: #dedede;
                    box-shadow: none;
                    outline: none;
                    padding: 20px 10px;
                    &:focus {
                        border-right: none;
                        border-color: #242424;
                    }
                    &::placeholder {
                        font-style: italic;
                        color: #9e9e9e;
                    }
                }
                .input-group-btn {
                    // display: inherit;
                    button {
                        padding: 10px 15px;
                        border-radius: 0;
                        background-color: #da1313;
                        border-color: #da1313;
                        color: #fff;
                    }
                }
            }
        }
        #nav {
            width: 100%;
            float: left;
            background: #da1313;
            border: none;
            border-radius: 0;
            margin: 0;
            z-index: 99;
            left: 0;
            top: 0 !important;
            margin-bottom: 15px;
            .nav-desktop {
                margin: 0;
                background-color: transparent;
                border: none;
                .navbar-nav {
                    li {
                        position: relative;
                        a {
                            color: #fff;
                            font-size: 15px;
                            font-weight: 500;
                            padding-left: 15px;
                            padding-right: 15px;
                            text-transform: uppercase;
                        }
                        .sub-menu {
                            visibility: hidden;
                            position: absolute;
                            top: 65px;
                            left: 0;
                            margin: 0;
                            padding: 0;
                            width: 200px;
                            z-index: 99;
                            background-color: #333;
                            transition: all 0.2s;
                            li {
                                list-style: none;
                                display: block;
                                border-bottom: 1px solid #d4d4d4;
                                a {
                                    display: block;
                                    color: #fff;
                                    font-size: 15px;
                                    text-decoration: none;
                                    text-transform: none;
                                    padding: 10px 10px;
                                    &:hover {
                                        background-color: #232323;
                                    }
                                }
                            }
                        }
                        &:hover {
                            .sub-menu {
                                visibility: visible;
                                transform: translateY(-15px);
                                transition: all 0.5s;
                            }
                        }
                    }
                }
            }
            .nav-mobile {
                margin: 0;
                border-color: transparent;
                background-color: transparent;
                .navbar-header {
                    display: block;
                    .navbar-btn {
                        display: block;
                        margin: 0;
                        color: #fff;
                        padding: 3px;
                        font-size: 30px;
                    }
                }
                .mobile-collapse {
                    .side-nav {
                        margin: 0;
                        padding: 0;
                        li {
                            position: relative;
                            list-style: none;
                            display: block;
                            width: 100%;
                            background-color: transparent;
                            a {
                                text-decoration: none;
                                text-transform: uppercase;
                                display: block;
                                color: #fff;
                                font-size: 15px;
                                padding: 10px 10px;
                            }
                            .accordion {
                                position: absolute;
                                top: 0;
                                right: 0;
                                cursor: pointer;
                                border: none;
                                text-align: left;
                                outline: none;
                                font-size: 13px;
                                transition: 0.4s;
                                display: inline-block;
                                margin: 0;
                                background-color: transparent;
                                padding: 12px 10px;
                                &::after {
                                    content: '\002B';
                                    font-family: 'FontAwesome'!important;
                                    color: #fff;
                                    font-weight: bold;
                                    float: right;
                                    margin-left: 5px;
                                }
                            }
                            .accordion.active:after {
                                content: "\2212";
                                font-family: 'FontAwesome'!important;
                            }
                            .sub-menu {
                                margin: 0;
                                padding: 0;
                                max-height: 0;
                                overflow: hidden;
                                transition: max-height 0.2s ease-out;
                                li {
                                    position: relative;
                                    padding-left: 20px;
                                    background-color: transparent;
                                    a {
                                        display: block;
                                        text-transform: none;
                                        padding: 10px 0;
                                        border-bottom: solid 1px #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .cart-wrap {
                position: relative;
                padding: 15px;
                .cart-icon {
                    text-align: right;
                    display: block;
                    .cart-count {
                        position: absolute;
                        top: 8px;
                        right: 10px;
                        color: #fff;
                    }
                    img {
                        text-align: center;
                        height: 20px;
                    }
                }
                &:hover {
                    #cart-box {
                        visibility: visible;
                        transition: all 0.3s;
                    }
                }
                #cart-box {
                    position: absolute;
                    top: 50px;
                    right: 0;
                    width: 300px;
                    background: #fff;
                    padding: 0;
                    text-align: left;
                    box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.4);
                    z-index: 999;
                    visibility: hidden;
                    transition: all 0.3s;
                    .box-head {
                        color: #333;
                        overflow: hidden;
                        padding: 15px;
                        text-align: left;
                        font-size: 14px;
                        background: #f5f5f5;
                        text-transform: none;
                        font-weight: 400;
                        border-bottom: 1px #ddd solid;
                        i {
                            color: #da5116;
                        }
                    }
                    .box-body {
                        .list-cart {
                            margin: 0;
                            padding: 8px 15px 0;
                            max-height: 277px;
                            overflow: auto;
                            li {
                                list-style: none;
                                padding-bottom: 15px;
                            }
                            .item-cart {
                                .product-thumb {
                                    float: left;
                                    margin-right: 5px;
                                    img {
                                        max-width: 80px;
                                    }
                                }
                                .product-desc {
                                    position: relative;
                                    margin-bottom: 10px;
                                    .btn-delete {
                                        position: absolute;
                                        top: 0;
                                        right: 0;
                                        text-decoration: none;
                                        color: #333;
                                        &:hover {
                                            color: #da1313!important;
                                        }
                                    }
                                    .product-name {
                                        text-decoration: none;
                                        color: #333;
                                        &:hover {
                                            color: #da1313!important;
                                        }
                                    }
                                }
                                .product-action {
                                    position: relative;
                                    .product-price {
                                        font-size: 12px;
                                        display: inline-block;
                                        line-height: 22px;
                                        font-weight: 700;
                                        span {
                                            color: red;
                                        }
                                        .cart-count {
                                            color: #333 !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .box-footer {
                        .total-price {
                            color: #333;
                            font-size: 16px;
                            font-weight: 700;
                            padding: 12px 15px;
                            padding-bottom: 0;
                            text-align: center;
                            text-transform: none;
                            border-top: 1px solid #ddd;
                            span {
                                color: #da5116;
                            }
                        }
                        .total-btn {
                            padding: 15px;
                            button {
                                width: 100%;
                                background: #da1313;
                                color: #fff;
                                font-size: 14px;
                                padding: 8px 16px;
                                cursor: pointer;
                                text-decoration: none;
                                font-weight: 700;
                                text-transform: uppercase;
                                text-align: center;
                                border: none;
                                outline: none;
                                border-radius: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
    .body-page {
        .home-item {
            .owl-carousel-1 {
                position: relative;
                margin-bottom: 20px;
                .owl-stage-outer {
                    .owl-stage {
                        .owl-item {
                            .item {
                                a {
                                    img {
                                        max-width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
                .owl-nav {
                    display: none;
                }
                .owl-dots {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    text-align: center;
                    span {
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                    }
                    .active {
                        span {
                            background-color: #fff;
                        }
                    }
                }
            }
            .item-row {
                margin-bottom: 15px;
                a {
                    img {
                        width: 100%;
                    }
                }
            }
        }
        .home-item {
            .item-wrap {
                .category-box {
                    .category-title {
                        margin-bottom: 5px;
                        border-bottom: solid 1px #242424;
                        h2 {
                            display: inline-block;
                            font-size: 18px;
                            text-transform: uppercase;
                            line-height: 40px;
                            font-weight: 700;
                            color: #242424;
                            padding: 0 20px 0 0;
                            margin: 0;
                        }
                        .view-more {
                            line-height: 40px;
                            a {
                                font-size: 15px;
                                color: #464646;
                                text-decoration: none;
                                &:hover {
                                    color: #242424;
                                }
                            }
                        }
                    }
                    .category-content {
                        .left-content {
                            .banner-top {
                                img {
                                    width: 100%;
                                }
                            }
                            .banner-bot {
                                img {
                                    float: left;
                                    width: 46%;
                                    max-height: 50px;
                                    margin: 2%;
                                    min-height: 50px;
                                }
                            }
                        }
                        .right-content {
                            .product-item {
                                .product-box {
                                    position: relative;
                                    padding-top: 15px;
                                    margin-bottom: 15px;
                                    .product-thumb {
                                        height: 189px;
                                        width: auto;
                                        img {
                                            height: 100%;
                                            width: auto;
                                            object-fit: cover;
                                        }
                                        .sale {
                                            position: absolute;
                                            top: 15px;
                                            right: 0;
                                            width: 40px;
                                            height: 40px;
                                            line-height: 40px;
                                            text-align: center;
                                            background-color: #da1313;
                                            color: #fff;
                                            border-radius: 100%;
                                        }
                                    }
                                    .product-name {
                                        width: 100%;
                                        text-align: center;
                                        height: 55px;
                                        a {
                                            text-decoration: none;
                                            font-size: 14px;
                                            color: #464646;
                                        }
                                    }
                                    .product-price {
                                        width: 100%;
                                        text-align: center;
                                        .price-old {
                                            display: inline-block;
                                            font-size: 14px;
                                            color: #464646;
                                            text-decoration: line-through;
                                            margin-right: 10px;
                                            margin-bottom: 5px;
                                            padding-bottom: 5px;
                                        }
                                        .price-new {
                                            display: inline-block;
                                            font-size: 18px;
                                            color: #da1313;
                                            font-weight: 700;
                                            margin-bottom: 5px;
                                            padding-bottom: 5px;
                                        }
                                    }
                                    &:hover {
                                        box-shadow: 0 0 2px rgba(87, 87, 87, .6);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .news-wrap {
            .about-wrap {
                .about-title {
                    text-align: center;
                    margin-bottom: 30px;
                    h1 {
                        color: #da1313;
                        font-size: 30px;
                        font-weight: 800;
                        margin: 10px 0;
                    }
                }
                .content {
                    .thumb {
                        max-width: 220px;
                        float: left;
                        img {
                            width: 100%;
                        }
                    }
                    .content-text {
                        p {
                            line-height: 22px;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
            .blog-wrap {
                border-left: solid 1px #ccc;
                .blog-title {
                    margin-bottom: 5px;
                    border-bottom: solid 1px #242424;
                    h4 {
                        display: inline-block;
                        font-size: 18px;
                        text-transform: uppercase;
                        line-height: 40px;
                        font-weight: 600;
                        color: #242424;
                        padding: 0 20px 0 0;
                        margin: 0;
                    }
                }
                .blog-item {
                    margin-bottom: 15px;
                    .blog-thumb {
                        margin-bottom: 15px;
                        a {
                            img {
                                max-width: 100%;
                            }
                        }
                    }
                    .blog-content {
                        .blog-name {
                            margin-top: 0;
                            margin-bottom: 10;
                            a {
                                text-decoration: none;
                                font-size: 17px;
                                font-weight: 600;
                                color: #464646;
                                &:hover {
                                    color: #000;
                                }
                            }
                        }
                        .more-view {
                            text-decoration: none;
                            color: #494949;
                            &:hover {
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        .footer-body {
            padding: 15px;
        }
        background: #eee;
        margin-top: 15px;
        .logo-bottom {
            margin-top: 50px;
            a {
                img {
                    max-width: 100%;
                }
            }
        }
        .title {
            text-transform: uppercase;
            font-size: 18px;
        }
        .content {
            .nav-bot {
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    i {
                        font-size: 10px;
                        padding-right: 5px;
                        line-height: 25px;
                    }
                    a {
                        text-decoration: none;
                        font-size: 15px;
                        color: #494949;
                        &:hover {
                            color: #000;
                        }
                    }
                }
            }
            p {
                i {
                    width: 16px;
                    text-align: center;
                }
            }
            .btn-hostline {
                margin-top: 15px;
                padding: 6px 15px;
                background-color: #da1313;
                color: #fff;
                text-decoration: none;
                display: inline-block;
                font-size: 17px;
            }
        }
        .footer-bot {
            width: 100%;
            text-align: center;
            padding: 20px 0;
            border-bottom: 2px solid #da1313;
            background-color: #363636;
            span {
                color: #a5a5a5;
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}


/*cart*/

.cart-page {
    padding: 100px 0 60px;
    .head {
        h1 {
            // font-size: 25px;
        }
    }
    .table-left {
        tbody {
            td {
                vertical-align: middle;
                img {
                    height: 32px;
                    width: auto;
                }
                button {
                    background: transparent;
                    outline: none;
                    box-shadow: none;
                    border: none;
                    &:hover {
                        color: #da1313;
                    }
                }
                a {
                    color: #000;
                    &:hover {
                        color: #da1313;
                    }
                }
                input {
                    box-shadow: none;
                    outline: none;
                }
            }
        }
    }
    .table-right {
        // text-align: center;
        .submit {
            width: 80%;
            text-align: center;
            background-color: #da1313;
            border: none;
            border-radius: 4px;
            outline: none;
            box-shadow: none;
            padding: 5px 15px;
            color: white;
        }
    }
}

// payment
.payment-page {
    .widget-payment {
        .accordion {
            color: #da1313;
        }
        .panel {
            border: none;
            background-color: white;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
        }
        .widget-content {
            .wrap-login {
                border: solid 1px #ccc !important;
                border-radius: 7px;
                padding: 15px;
                .table {
                    margin-bottom: 0px;
                    tbody {
                        tr {
                            td {
                                vertical-align: middle;
                                &:first-child {
                                    width: 40%;
                                }
                                input {
                                    padding: 0 10px;
                                    width: 100%;
                                    outline: none;
                                    height: 34px;
                                }
                            }
                        }
                        .check {
                            display: inline-block;
                            width: 20px;
                            height: auto;
                        }
                        .submit {
                            background-color: white;
                            color: #da1313;
                            outline: none;
                            border: solid 1px #da1313;
                            transition: all 0.25s;
                            &:hover {
                                background-color: #da1313;
                                color: white;
                                transition: all 0.25s;
                            }
                        }
                    }
                }
                .table-coupon {
                    width: 60%;
                    margin: 0 auto;
                    td {
                        border-color: transparent;
                    }
                }
            }
        }
    }
    .table-left {
        td {
            vertical-align: middle;
        }
        thead {
            th {
                border-top: solid 3px #da1313 !important;
                font-size: 18px;
                text-transform: uppercase;
                font-weight: normal;
                border-radius: 5px;
                // color: white;
            }
        }
        tbody {
            td {
                input {
                    width: 100%;
                    min-height: 34px;
                    outline: none;
                    box-shadow: none;
                    padding: 0 10px;
                }
                textarea {
                    width: 100%;
                    outline: none;
                    box-shadow: none;
                    padding: 10px;
                }
            }
        }
    }
    .table-right {
        td {
            vertical-align: middle;
        }
        thead {
            th {
                border-top: solid 3px #da1313 !important;
                font-size: 18px;
                text-transform: uppercase;
                font-weight: normal;
                // color: white;
            }
        }
        tbody {
            td {
                input {
                    width: 100%;
                    min-height: 34px;
                    outline: none;
                    box-shadow: none;
                    padding: 0 10px;
                }
                textarea {
                    width: 100%;
                }
                .submit {
                    background-color: white;
                    color: #da1313;
                    outline: none;
                    height: 34px;
                    min-width: 200px;
                    border: solid 1px #da1313;
                    transition: all 0.25s;
                    &:hover {
                        background-color: #da1313;
                        color: white;
                        transition: all 0.25s;
                    }
                }
            }
        }
    }
}

.orders-page {
    .head {
        h1 {
            margin-bottom: 20px;
        }
    }
    .table-head {
        tbody {
            tr {
                &:last-child {
                    td {
                        color: #da1313;
                    }
                }
                td {
                    text-align: center;
                    border-right: dashed 1px #ccc;
                    padding: 0 5px;
                    border-top: none;
                    &:last-child {
                        border-right: none;
                    }
                }
            }
        }
    }
}

.element-page {
    .lien-he {
        padding: 15px 0;
        a {
            text-decoration: none;
        }
        // .title-main {
        //     font-family: 'Open Sans Condensed', sans-serif;
        //     font-size: 28px;
        //     font-weight: 600;
        //     margin-bottom: 20px;
        //     color: $color-main;
        // }
        .send-contact {
            margin-bottom: 20px;
            overflow: hidden;
            h2 {
                font-family: 'Open Sans Condensed', sans-serif;
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 20px;
                color: #242424;
            }
            .form-group {
                label {
                    font-family: 'Open Sans Condensed', sans-serif;
                    display: inline-block;
                    font-size: 13px;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #555;
                    margin-bottom: 10px;
                    cursor: pointer;
                }
                .form-control {
                    display: block;
                    width: 100%;
                    padding: 8px 14px;
                    font-size: 15px;
                    line-height: 1.42857143;
                    color: #555555;
                    background-color: #ffffff;
                    background-image: none;
                    border: 2px solid #DDD;
                    border-radius: 0;
                    outline: none;
                    box-shadow: none;
                    &:focus {
                        border-color: #ababab;
                    }
                }
                .btn-submit {
                    font-family: 'Open Sans Condensed', sans-serif;
                    background-color: #da1313;
                    padding: 8px 15px;
                    color: white;
                    text-transform: uppercase;
                    font-size: 14px;
                }
            }
        }
        .contact {
            h2 {
                font-family: 'Open Sans Condensed', sans-serif;
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 20px;
                color: #242424;
            }
            p {
                font-size: 13px;
                margin: 0;
                strong {
                    font-family: 'Open Sans Condensed', sans-serif;
                }
                a {
                    color: #da1313;
                }
                span {
                    display: block;
                }
            }
            .head {
                margin-bottom: 15px;
            }
        }
        .maps {
            width: 100%;
            // padding: 0 15px;
            margin-bottom: 20px;
            iframe {
                width: 100%;
                min-height: 350px;
            }
        }
    }
}

// trang error
.error-page {
    background: #da1313;
    text-align: center;
    padding: 60px 0;
    margin-top: 60px;
    h2 {
        font-style: normal;
        line-height: 1.4;
        margin-bottom: 15px;
        margin-top: 15px;
        text-rendering: optimizeLegibility;
        font-weight: 500;
        font-size: 40px;
        color: #fff;
    }
    a {
        color: #fff;
        border: 2px solid #fff;
        padding: 12px 32px;
        margin: 10px 5px;
        height: auto;
        min-height: 36px;
        line-height: 36px;
        font-size: 24px;
        display: inline-block;
    }
}

// CATEGORY //
.body-page {
    .left-content {
        .side-category {
            margin-bottom: 15px;
            .side-title {
                color: #fff;
                background-color: #da1313;
                text-transform: uppercase;
                text-align: center;
                border: none;
                // display: block;
                padding: 15px 15px;
                h4 {
                    display: block;
                    margin: 0;
                    i {
                        margin-right: 5px;
                    }
                }
            }
            .side-content {
                margin: 0;
                padding: 0;
                border: 1px solid #d1d1d1;
                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                        text-transform: none;
                        border-bottom: 1px solid #d1d1d1;
                        font-size: 15px;
                        color: #252222;
                        line-height: 30px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        display: block;
                        padding-left: 15px;
                    }
                    &:hover a {
                        background-color: #009933;
                        color: #fff;
                        transition: all 0.3s;
                    }
                    &:last-child a {
                        border-bottom: none;
                    }
                }
            }
        }
        .statistic-box {
            border: solid 1px #dedede;
            .statistic-title {
                border-bottom: 1px solid #da1313;
                color: inherit;
                text-transform: uppercase;
                margin: 5px;
                span {
                    border-bottom: 3px solid #da1313;
                    display: inline-block;
                    margin-bottom: -2px;
                }
            }
            .statistic-content {
                padding: 0 5px;
                table {
                    color: #252222;
                    font-size: 14px;
                    tr {
                        td {
                            &:last-child {
                                padding-left: 10px;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }
    .right-content {
        .breadcrumb-wrap {
            .breadcrumb {
                background-color: transparent;
                width: 100%;
                float: left;
                margin-top: 20px;
                border-bottom: 1px solid #cbcbcb;
                border-radius: 0;
                padding: 0;
                li {
                    font-size: 14px;
                    padding: 5px 0;
                    a {
                        text-decoration: none;
                        color: #494949;
                    }
                    strong {
                        color: #000;
                        font-size: 15px;
                    }
                }
            }
        }
        .list-product {
            .product-item {
                .product-box {
                    position: relative;
                    padding-top: 15px;
                    margin-bottom: 15px;
                    .product-thumb {
                        img {
                            width: 100%;
                        }
                        .sale {
                            position: absolute;
                            top: 15px;
                            right: 0;
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                            text-align: center;
                            background-color: #da1313;
                            color: #fff;
                            border-radius: 100%;
                        }
                    }
                    .product-name {
                        width: 100%;
                        text-align: center;
                        height: 55px;
                        a {
                            text-decoration: none;
                            font-size: 14px;
                            color: #464646;
                        }
                    }
                    .product-price {
                        width: 100%;
                        text-align: center;
                        .price-old {
                            display: inline-block;
                            font-size: 14px;
                            color: #464646;
                            text-decoration: line-through;
                            margin-right: 10px;
                            margin-bottom: 5px;
                            padding-bottom: 5px;
                        }
                        .price-new {
                            display: inline-block;
                            font-size: 18px;
                            color: #da1313;
                            font-weight: 700;
                            margin-bottom: 5px;
                            padding-bottom: 5px;
                        }
                    }
                    &:hover {
                        box-shadow: 0 0 2px rgba(87, 87, 87, .6);
                    }
                }
            }
        }
    }
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    font-family: 'FontAwesome';
    content: "\f101";
}

// CATEGORY END//
//====DETAIL====//
.body-page {
    .left-content {
        .delivery-wrap {
            margin-bottom: 15px;
            border: 1px solid #d1d1d1;
            .delivery-title {
                color: #fff;
                background-color: #da1313;
                text-transform: uppercase;
                text-align: center;
                border: none;
                // display: block;
                padding: 15px 15px;
                h4 {
                    display: block;
                    margin: 0;
                    i {
                        margin-right: 5px;
                    }
                }
            }
            .delivery-content {
                padding: 10px;
                .delivery-item {
                    .deli-icon {
                        width: 40px;
                        height: 40px;
                        font-size: 20px;
                        line-height: 40px;
                        vertical-align: middle;
                        text-align: center;
                    }
                    span {
                        font-size: 15px;
                        color: #494949;
                    }
                }
            }
        }
        .side-category {
            margin-bottom: 15px;
            .side-title {
                color: #fff;
                background-color: #da1313;
                text-transform: uppercase;
                text-align: center;
                border: none;
                // display: block;
                padding: 15px 15px;
                h4 {
                    display: block;
                    margin: 0;
                    i {
                        margin-right: 5px;
                    }
                }
            }
            .side-content {
                margin: 0;
                padding: 0;
                border: 1px solid #d1d1d1;
                li {
                    position: relative;
                    list-style: none;
                    display: block;
                    width: 100%;
                    background-color: transparent;
                    a {
                        text-decoration: none;
                        text-transform: none;
                        border-bottom: 1px solid #d1d1d1;
                        font-size: 15px;
                        color: #252222;
                        line-height: 30px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        display: block;
                        padding-left: 15px;
                    }
                    .accordion {
                        position: absolute;
                        top: 0;
                        right: 0;
                        cursor: pointer;
                        border: none;
                        text-align: left;
                        outline: none;
                        font-size: 13px;
                        transition: 0.4s;
                        display: inline-block;
                        margin: 0;
                        background-color: transparent;
                        padding: 16px 10px;
                        &::after {
                            content: '\002B';
                            font-family: 'FontAwesome'!important;
                            color: #494949;
                            font-weight: bold;
                            float: right;
                            margin-left: 5px;
                        }
                    }
                    &:hover {
                        a {
                            background-color: #009933;
                            color: #fff;
                            transition: all 0.3s;
                        }
                        .accordion {
                            &::after {
                                color: #fff;
                            }
                        }
                    }
                    &:last-child a {
                        border-bottom: none;
                    }
                    .accordion.active:after {
                        content: "\2212";
                        font-family: 'FontAwesome'!important;
                    }
                    .sub-menu {
                        margin: 0;
                        padding: 0;
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.2s ease-out;
                        li {
                            position: relative;
                            background-color: #fff;
                            a {
                                text-decoration: none;
                                text-transform: none;
                                border-bottom: 1px solid #d1d1d1;
                                font-size: 15px;
                                color: #252222;
                                background-color: #fff;
                                line-height: 30px;
                                padding-top: 10px;
                                padding-bottom: 10px;
                                display: block;
                                padding-left: 15px;
                            }
                            &:hover {
                                a {
                                    background-color: #009933;
                                    color: #fff;
                                    transition: all 0.3s;
                                }
                            }
                        }
                    }
                }
            }
        }
        .statistic-box {
            border: solid 1px #dedede;
            .statistic-title {
                border-bottom: 1px solid #da1313;
                color: inherit;
                text-transform: uppercase;
                margin: 5px;
                span {
                    border-bottom: 3px solid #da1313;
                    display: inline-block;
                    margin-bottom: -2px;
                }
            }
            .statistic-content {
                padding: 0 5px;
                table {
                    color: #252222;
                    font-size: 14px;
                    tr {
                        td {
                            &:last-child {
                                padding-left: 10px;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }
    .right-content {
        .breadcrumb-wrap {
            .breadcrumb {
                background-color: transparent;
                width: 100%;
                float: left;
                margin-top: 20px;
                border-bottom: 1px solid #cbcbcb;
                border-radius: 0;
                padding: 0;
                li {
                    font-size: 14px;
                    padding: 5px 0;
                    a {
                        text-decoration: none;
                        color: #494949;
                    }
                    strong {
                        color: #000;
                        font-size: 15px;
                    }
                }
            }
        }
        .detail-content {
            margin-bottom: 30px;
            .carousel-detail {
                // position: relative;
                .carousel {
                    .carousel-inner {
                        .item {
                            text-align: center;
                            img {
                                text-align: center;
                                max-width: 100%;
                                max-height: 100%;
                            }
                        }
                    }
                    .carousel-control {
                        background-image: none;
                        text-shadow: none;
                        &:hover {
                            background-color: #da1313;
                            color: #fff;
                            transition: all 0.3s;
                        }
                    }
                    a.left {
                        top: 40%;
                        left: 0;
                        width: 35px;
                        height: 35px;
                        text-align: center;
                        font-size: 25px;
                        line-height: 35px;
                        color: #494949;
                    }
                    a.right {
                        top: 40%;
                        right: 0;
                        width: 35px;
                        height: 35px;
                        text-align: center;
                        font-size: 25px;
                        line-height: 35px;
                        color: #494949;
                    }
                    .owl-carousel-detail-1 {
                        position: relative;
                        margin-top: 10px;
                        .item {
                            cursor: pointer;
                        }
                        .owl-stage-outer {
                            .owl-stage {
                                .owl-item {
                                    max-width: 59px;
                                    cursor: pointer;
                                    border: solid 1px #dedede;
                                }
                            }
                        }
                        .owl-dots {
                            display: none;
                        }
                        .owl-nav {
                            // position: absolute;
                            // width: 100%;
                            // top: 11px;
                            .owl-prev {
                                position: absolute;
                                left: 0;
                                top: 22px;
                                float: left;
                                background-color: #ea4242;
                                border-color: #ea4242;
                                border-radius: 50%;
                                width: 25px;
                                height: 25px;
                                padding: 0;
                                line-height: 24px;
                                color: #fff;
                            }
                            .owl-next {
                                float: right;
                                position: absolute;
                                right: 0;
                                top: 22px;
                                background-color: #ea4242;
                                border-color: #ea4242;
                                border-radius: 50%;
                                width: 25px;
                                height: 25px;
                                padding: 0;
                                line-height: 24px;
                                color: #fff;
                            }
                        }
                    }
                }
            }
            .product-detail {
                .detail-name {
                    margin-top: 0;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #e0e0e0;
                    font-size: 24px;
                }
                .detail-price {
                    font-size: 30px;
                    color: #da1313;
                }
                .detail-quantity {
                    margin: 30px 0;
                    label {
                        display: inline-block;
                        font-size: 17px;
                        font-weight: 500;
                        margin-right: 10px;
                    }
                    .quantity-box {
                        display: inline-block;
                        position: relative;
                        .form-control {
                            display: inline-block;
                            border-radius: 0;
                            border-color: #dedede;
                            outline: none;
                            box-shadow: none;
                            height: 40px;
                        }
                        .group-btn {
                            display: inline-block;
                            position: absolute;
                            top: 0;
                            right: 0;
                            .btn-quantity {
                                text-decoration: none;
                                display: block;
                                color: #494949;
                                background-color: transparent;
                                width: 20px;
                                height: 20px;
                                line-height: 20px;
                                text-align: center;
                            }
                        }
                    }
                }
                .detail-group-btn {
                    .btn-hotline {
                        a {
                            text-decoration: none;
                            color: #494949;
                            &:hover {
                                color: #000;
                            }
                        }
                        font-size: 20px;
                        margin: 10px 0;
                        padding: 12px 18px;
                        border: dashed 2px #da1313;
                        display: inline-block;
                        float: left;
                        margin-right: 10px;
                    }
                    .btn-buy {
                        a {
                            text-decoration: none;
                            color: #fff;
                        }
                        i {
                            margin-right: 10px;
                        }
                        font-size: 20px;
                        margin: 10px 0;
                        padding: 12px 40px;
                        background-color: #009933;
                        border: 2px solid #009933;
                        display: inline-block;
                        float: left;
                        margin-right: 10px;
                    }
                }
            }
        }
        .detail-desc {
            .nav-tabs {
                li {
                    a {
                        padding-left: 0;
                        font-size: 20px;
                        border: none;
                        margin: 0;
                        border-radius: 0;
                    }
                }
                li.active {
                    a {
                        border: none;
                        color: #da1313;
                        background: transparent;
                        border-bottom: 2px solid #da1313;
                    }
                }
            }
            .tab-content {
                .tab-pane {
                    padding: 20px 0;
                    p {
                        img {
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
    .more-product {
        .home-item {
            .item-wrap {
                .category-box {
                    .category-title {
                        margin-bottom: 5px;
                        border-bottom: solid 1px #242424;
                        h2 {
                            display: inline-block;
                            font-size: 18px;
                            text-transform: uppercase;
                            line-height: 40px;
                            font-weight: 700;
                            color: #242424;
                            padding: 0 20px 0 0;
                            margin: 0;
                        }
                        .view-more {
                            line-height: 40px;
                            a {
                                font-size: 15px;
                                color: #464646;
                                text-decoration: none;
                                &:hover {
                                    color: #242424;
                                }
                            }
                        }
                    }
                    .category-content {
                        .left-content {
                            .banner-top {
                                img {
                                    width: 100%;
                                }
                            }
                            .banner-bot {
                                img {
                                    float: left;
                                    width: 46%;
                                    max-height: 50px;
                                    margin: 2%;
                                    min-height: 50px;
                                }
                            }
                        }
                        .right-content {
                            .product-item {
                                .product-box {
                                    position: relative;
                                    padding-top: 15px;
                                    margin-bottom: 15px;
                                    .product-thumb {
                                        img {
                                            width: 100%;
                                        }
                                        .sale {
                                            position: absolute;
                                            top: 15px;
                                            right: 0;
                                            width: 40px;
                                            height: 40px;
                                            line-height: 40px;
                                            text-align: center;
                                            background-color: #da1313;
                                            color: #fff;
                                            border-radius: 100%;
                                        }
                                    }
                                    .product-name {
                                        width: 100%;
                                        text-align: center;
                                        height: 55px;
                                        a {
                                            text-decoration: none;
                                            font-size: 14px;
                                            color: #464646;
                                        }
                                    }
                                    .product-price {
                                        width: 100%;
                                        text-align: center;
                                        .price-old {
                                            display: inline-block;
                                            font-size: 14px;
                                            color: #464646;
                                            text-decoration: line-through;
                                            margin-right: 10px;
                                            margin-bottom: 5px;
                                            padding-bottom: 5px;
                                        }
                                        .price-new {
                                            display: inline-block;
                                            font-size: 18px;
                                            color: #da1313;
                                            font-weight: 700;
                                            margin-bottom: 5px;
                                            padding-bottom: 5px;
                                        }
                                    }
                                    &:hover {
                                        box-shadow: 0 0 2px rgba(87, 87, 87, .6);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//====DETAIL END====//
//NEWS//
.body-page {
    .right-content {
        .breadcrumb-wrap {
            .breadcrumb {
                background-color: transparent;
                width: 100%;
                float: left;
                margin-top: 20px;
                border-bottom: 1px solid #cbcbcb;
                border-radius: 0;
                padding: 0;
                li {
                    font-size: 14px;
                    padding: 5px 0;
                    a {
                        text-decoration: none;
                        color: #494949;
                    }
                    strong {
                        color: #000;
                        font-size: 15px;
                    }
                }
            }
        }
        .news-content {
            .news-item {
                margin-bottom: 50px;
                .news-thumb {
                    a {
                        img {
                            width: 100%;
                        }
                    }
                }
                .news-sumary {
                    .name {
                        color: #494949;
                        a {
                            text-decoration: none;
                            color: #494949;
                            font-weight: 500;
                        }
                    }
                    .infor {
                        font-size: 15px;
                        font-style: italic;
                        margin-bottom: 20px;
                        a {
                            text-decoration: none;
                            color: #494949;
                        }
                    }
                    .desc {
                        line-height: 25px;
                        margin-bottom: 20px;
                    }
                    .btn-view {
                        display: inline-block;
                        text-decoration: none;
                        color: #ccc;
                        margin-top: 20px;
                        border: 1px solid #ccc;
                        font-size: 15px;
                        padding: 10px;
                        font-style: italic;
                        font-weight: 400;
                        transition: all 0.5s;
                        i {
                            margin-left: 5px;
                        }
                        &:hover {
                            color: #494949;
                            border-color: #494949;
                            transition: all 0.5s;
                        }
                    }
                }
            }
            .mega-news {
                .mega-name {
                    font-size: 24px;
                    color: #494949;
                }
                .mega-infor {
                    font-size: 15px;
                    color: #494949;
                    font-style: italic;
                    margin-bottom: 10px;
                    padding-bottom: 10px;
                    a {
                        color: #494949;
                        text-decoration: none;
                    }
                }
                .content {
                    p {
                        font-size: 14px;
                        color: #494949;
                        line-height: 20px;
                        img {
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
    .left-content {
        .feature-blog {
            margin-bottom: 30px;
            .title {
                font-size: 18px;
                color: #494949;
            }
            .content {
                .blog-item {
                    margin-bottom: 15px;
                    .icon-blog {
                        float: left;
                        color: #ccc;
                        font-size: 11px;
                        vertical-align: middle;
                        margin-right: 10px;
                        padding-top: 10px;
                    }
                    .blog-content {
                        overflow: hidden;
                        a {
                            text-decoration: none;
                            display: block;
                            color: #494949;
                            font-size: 15px;
                            line-height: 20px;
                        }
                        span {
                            font-size: 13px;
                            color: #ccc;
                            font-style: italic;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
        .feature-product {
            margin-bottom: 30px;
            .title {
                font-size: 18px;
                color: #494949;
                padding-bottom: 10px;
                border-bottom: solid 1px #dedede;
            }
            .content {
                .product-item {
                    margin-bottom: 15px;
                    border-bottom: solid 1px #dedede;
                    .product-thumb {
                        a {
                            img {
                                max-width: 100%;
                            }
                        }
                    }
                    .product-content {
                        overflow: hidden;
                        .name {
                            text-decoration: none;
                            display: block;
                            color: #494949;
                            font-size: 15px;
                            line-height: 20px;
                        }
                        .price {
                            font-size: 17px;
                            color: #da1313;
                            font-weight: 600;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }
}

//NEWS END//
@media screen and (max-width: 1200px) {
    #main-page header .header-body .contact-wrap .contact-phone {
        margin-right: 10px;
    }
    #main-page header .header-body .contact-wrap .contact-phone .contact-icon {
        margin-right: 10px;
    }
    #main-page header .header-body .contact-wrap .contact-adress .contact-icon {
        margin-right: 10px;
    }
    #main-page header #nav .nav-desktop .navbar-nav li a {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media screen and(max-width: 991px) {
    #main-page footer .logo-bottom {
        margin-bottom: 30px;
    }
    .padding-none-right {
        padding-right: 15px;
    }
    #main-page .body-page .news-wrap .blog-wrap {
        border: none;
    }
}

@media screen and(max-width: 768px) {
    .fix-center {
        text-align: center;
    }
    #main-page header .header-body .logo {
        text-align: center;
    }
    #main-page .body-page .home-item .item-wrap .category-box .category-content .right-content .product-item {
        width: 50%;
    }
}

@media screen and(max-width: 480px) {
    #main-page .body-page .home-item .item-wrap .category-box .category-content .right-content .product-item {
        width: 100%;
    }
    #main-page footer .footer-bot {
        padding: 10px 0;
        span {
            font-size: 11px;
        }
    }
}

@media (max-width: 400px) {
    #body-category .right-content .list-product .product-item .product-box .product-name {
        height: 70px;
    }
}