.img_preview {
  float: left;
  margin: 20px 5px;
  position: relative;
  width: 150px;
}
.img_preview img {
  width: 150px;
  height:100px;
}
.close-thik{
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 3px;
}
.close-thik:after {
  content: '✖'; /* UTF-8 symbol */
}
#preview{
  width:100%;
}
#preview1{
  width:100%;
}
.fix-float{
  display: inline-flex;
  padding-right: 35px;
}
@media only screen and (max-width: 991px ){
  .with-border{
    text-align: center;
  }
  .fix-float{
  margin-top: 15px;
  margin-bottom: 5px;
  }
}